
/*  -----------------  FOOTER    */

footer {
    background-color: #2e2e2e;
    color: #969696;

    svg {
        margin-bottom: 20px
    }

    hr {
        width:60vw;
        border-color:#535353;
        height:1px;
    }

    div {
        padding: 20px;
    }

    .map-link-list {
        display: inline-block;

        li {
            float: left;
            margin: 10px 10px;

            a {
                text-decoration: none;
                cursor: pointer;
                color: #969696;
                -webkit-transition: all 1s; /* Safari */
                transition: all 1s;
                
                &:hover {
                    color: #e8e8e8;                    
                }
            }
        }
    }

    .footer-logo{
        height: 40px;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    footer {
        svg {
            display: none;
        }
    }
    .footer-logo{
        display: none;
    }
}
